<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
  <title> ネガポジ分析|ネガポジ分析ツールFOR Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/dashboard.css">
  <!--JS-->
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <!--search bar-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  <div class="container">
    <!--ナビバー-->
    <nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
      <div class="navbar-brand nav-link" ><a class="nav-link" href="/"><b>ツイートネガポジ分析</b></a></div>
    </nav>
    </br></br></br></br>

    <header id="page-top">
      <div class="row">
        <div class="col-lg-12 text-center my-2">
          </br><h5>Twitter上のツイートのネガポジ分析（microsoft azureテキスト解析）を行えます。</br>
                    最新の投稿100件を取得して表示します。</br>
                    ※製品・ブランドに対するお客様の声をネガティブ・ポジティブな側面から分析することで</br>
                    インサイトの発見や製品改善など、マーケティング活動をサポートします。</br>
                    検索したいキーワードを入力し、「ネガポジ分析をする」をクリックしてください</h5>
          </br></br></br></br></br>
          <div class="row justify-content-center">
              <div class="col-12 col-md-10 col-lg-8">
                <form action="/post" method="post" class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                      <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                      </div>
                      <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="text" name="search_word" placeholder="Search">
                      </div>
                      <div id="submitButtonDiv" class="col-auto d-none d-md-block">
                        <button class="btn btn-lg btn-info" type="submit">ネガポジ分析する</button>                                 
                      </div>
                    </div>
                </form>
              </div>
          </div>
          </br></br></br></br>
        </div>
      </div>
  </div>
</body>
</html>